.hero-container{
    height: 800px;
    width: 99%;
    margin-right: auto;
    margin-left: auto;
}

/* The hero image */
body {
    /* The image used */
    background-image: url("/img/kam_andrew_chief_hatchers.jpg");

    /* Set a specific height */
    height: 100%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}
