
.nav-container {
    margin-left: 2%!important;
    margin-right: 2%!important;

}
nav, .side-nav {
  background-color: #7c2135;
}
nav {
  transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
}