
nav .brand {
    display: none;
}
.navlink {
    display: none;
}
nav {
  transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
}
@media screen and (min-width: 992px) {
    .nav-collaspe{
    }
}