.gold {
   color: #D4AF37!important;
}
.gold-foil{
    background-image: url("../img/gold-foil.jpg");
}
.navy-blue{
    color: #251859!important;
}
.navy-trans{
    margin: 5%;
    background-color: rgba(37, 24, 89, .8);
    border: 1px solid #251859;
    border-radius: 5px;
}

body{
    font-family: 'Pacifico', cursive;
    height: 100000px;
}
.marroon {
    background-color: #701327;
}
.marroon-trans {
    background-color: rgba(112, 19, 39, .85);
    border: 1px solid #701327;
    border-radius: 5px;
}
.marroon-fabric {
    background-image: url("../img/dark-maroon-black-silk-background.jpg");
}

.brand {
    font-size: 46px;
    font-family: 'Delius Swash Caps', cursive;
}
.blue-fabric{
    background-image: url("../img/navy-fabric.jpg");
}
.blurb{
    border-radius: 25px;
}
.blurb-img{
    border-radius: 40px;
}