@{
    ViewData["Title"] = "A&K";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col s12 m7 blue-grey darken-1">
    <h2 class="header">Horizontal Card</h2>
    <div class="card horizontal large blue-grey darken-1">
        <div class="card-image">
            <img src="img/kam_andrew_chief_hatchers.jpg">
        </div>
        <div class="card-stacked">
            <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information.</p>
            </div>
        </div>
    </div>
</div>

