@{
    ViewData["Title"] = "A&K";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="blurb row">
    <h2 class="card-title">How they met...</h2>
    <div class="col s12 m7 l7">
        <img class="blurb-img responsive-img" src="img/kam_andrew_chief_hatchers.jpg">
    </div>
    <div class="col s12 m5 l5">
        <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information.</p>
        </div>
    </div>
</div>

