@{
    ViewData["Title"] = "A&K";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="blurb row gold-foil">
    <div class="col s12 m6 l6">
        <img class="blurb-img responsive-img" src="img/kam_andrew_chief_hatchers.jpg">
    </div>
    <div class="col s12 m6 l6">
        <h2 class="card-title marroon-trans-dark gold">How they met...</h2>
        <div class="card-content">
            <p class="marroon-trans-dark gold">I am a very simple card. I am good at containing small bits of information.</p>
        </div>
    </div>
</div>

