<link rel="stylesheet" href="~/css/hero-styles.css">

    <div class="hero-container">
        
    </div>

<script>
    $(document).ready(function () {

        $("nav").fadeIn(18000);
        $(".navlink").fadeIn(20000);
        $(".brand").fadeIn(5000);
    })
</script>