<link rel="stylesheet" href="~/css/hero-styles.css">

    <div class="hero-container">
        
    </div>

<script>
    $(document).ready(function () {
        $("body").removeClass("maroon-fabric");
        $("nav").fadeIn(2000);
        $(".navlink").fadeIn(5000);
        $(".brand").fadeIn(6000);
    })
</script>