<!DOCTYPE html>

<html>
<head>
    <!-- Materialize- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <!-- JQuery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!-- Materialize- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Delius+Swash+Caps|Homemade+Apple|Norican|Pacifico|Podkova" rel="stylesheet">
    <!-- Personal style sheets -->
    <link rel="stylesheet" href="~/css/styles.css">
    <link rel="stylesheet" href="~/css/navbar-styles.css">
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body class="hero-image marroon-fabric">
    <div class="nav-container navbar-fixed marroon-trans">
    <nav id="mybar" class="z-depth-0 marroon">
        <a href="#" data-activates="mobile-demo" class="nav-collaspe button-collapse gold">A & K</a>
        <ul id="nav-mobile" class="hide-on-med-and-down">
            <li><a asp-controller="About" asp-action="Index" class="navlink navy-blue">Their Story</a></li>
            <li><a asp-controller="Plan" asp-action="Index" class="navlink navy-blue">Plans</a></li>
            <li><a asp-controller="Home" asp-action="Index" class="brand gold">Andrew & Kamarae</a></li>
            <li><a asp-controller="Photo" asp-action="Index" class="navlink navy-blue float-right">Photos</a></li>
            <li><a asp-controller="Registry" asp-action="Index" class="navlink navy-blue float-right">Registry</a></li>
            <li><a asp-controller="Guest" asp-action="Index" class="navlink navy-blue float-right">GuestBook</a></li>
            @if (User.Identity.IsAuthenticated)
            {
                <!-- Dropdown Structure -->
                <ul id="dropdown1" class="dropdown-content">
                    <li><a asp-controller="About" asp-action="Edit" class="navlink gold">About</a></li>
                    <li class="divider"></li>
                    <li><a asp-controller="Plan" asp-action="Edit" class="navlink gold">Plan</a></li>
                    <li class="divider"></li>
                    <li><a asp-controller="Photo" asp-action="Edit" class="navlink gold">Photo</a></li>
                    <li class="divider"></li>
                    <li><a asp-controller="Registry" asp-action="Edit" class="navlink gold">Registry</a></li>
                    <li class="divider"></li>
                    <li><a asp-controller="Guest" asp-action="Edit" class="navlink gold">Guest</a></li>
                </ul>
                <li><a class="dropdown-button navlink gold" href="#!" data-activates="dropdown1">Manage<i class="material-icons right">arrow_drop_down</i></a></li>
            }
        </ul>
        <ul class="side-nav gold-foil" id="mobile-demo">
            <li><a asp-controller="Home" asp-action="Index" class="brand gold navy-trans">Andrew & Kamarae</a></li>
            <li><a asp-controller="About" asp-action="Index" class="navlink gold navy-trans">Their Story</a></li>
            <li><a asp-controller="Plan" asp-action="Index" class="navlink gold navy-trans">Plans</a></li>
            <li><a asp-controller="Photos" asp-action="Index" class="navlink gold navy-trans">Photos</a></li>
            <li><a asp-controller="Registry" asp-action="Index" class="navlink gold navy-trans">Registry</a></li>
            <li><a asp-controller="Guest" asp-action="Index" class="navlink gold navy-trans">GuestBook</a></li>
        </ul>
    </nav>
    </div>
    <div class="render-body">
        @RenderBody()
    </div>
</body>
<script>
    $(document).ready(function () {
        $(".button-collapse").sideNav();
        $(".dropdown-button").dropdown();
      
        var mouseY = 0;
        var max = 70;
        setTimeout(function () {
            console.log('timeout');

            document.addEventListener('mousemove', function (e) {
                mouseY = e.clientY || e.pageY;
                if (mouseY < max) {
                    $('nav').css({ top: '0' });
                }
            }, false);

            $(window).scroll(function () {
                var sc = ($(this).scrollTop() > max) ? $('nav').css({ top: '-70px' }) : $('nav').css({ top: '0' });
            });

            $('nav').mouseout(function () {
                if ($(window).scrollTop() > max) {
                    $('nav').css({ top: '-70px' });
                }
            });
        }, 5000);

    });
</script>
</html>
